{{> header}}
<section id="container">
    <section id="content">
        <article>
            <h1>{{title}}</h1>
            <span class="date">{{date}}</span>
            {{#categories.length}}
                <span class="categories">
                Categories:
                {{#categories}}
                    <a href="../categories/{{.}}.html" name="category: {{.}}">{{.}}</a>
                {{/categories}}
                </span>
            {{/categories.length}}
            {{{content}}}
        </article>
        {{> comments}}
    </section>
    {{> footer}}
</section>
{{> sidebar}}
{{> foot}}
