<head>
    <meta charset="utf-8">
    <title>{{global.title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="global.author">
    <link href="{{__dir__}}/assets/css/typo.css" rel="stylesheet">
    <link href="{{__dir__}}/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{__dir__}}/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{__dir__}}/assets/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{__dir__}}/assets/images/favicon.ico" type="image/x-icon" />
</head>
