<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{__dir__}}/index.html">Wanna</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="{{__dir__}}/index.html">Home</a>
                    </li>
                    <li class="">
                        <a href="{{__dir__}}/pages/get-started.html">Get started</a>
                    </li>
                    <li class="">
                        <a href="{{__dir__}}/documentation.html">Documentation</a>
                    </li>
                    <li class="">
                        <a href="http://themes.wannajs.org">Themes</a>
                    </li>
                    <li class="">
                        <a href="http://github.com/shaoshuai0102/wanna" target="_blank">Github repo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
