<!DOCTYPE html>
<html>
    {{> head }}
    <body>
        {{ > navigation }}
        <div class="masthead">
            <div class="container">
                <h1>Wanna</h1>
                <p>{{global.subtitle}}</p>
                <ul class="masthead-links">
                    <li><a href="http://github.com/shaoshuai0102/wanna" target="_blank">GitHub project</a></li>
                    <li>Version 0.1.1</li>
                </ul>
            </div>
        </div>

        <div class="container introduction">
            <h1>Introducing Wanna</h1>
            <p class="description">Use Wanna if you wanna express yourself with a blog.</p>
            <div class="row-fluid">
                <div class="span4">
                    <img src="{{__dir__}}/assets/images/introduction-natural.png">
                    <h2>Make it natural.</h2>
                    <p>It's super easy and natural to use Wanna. All you want to do with a blog is writing, viewing and publishing, how about trying "wanna write, wanna view, wanna publish"? You will really like it.</p>
                </div>
                <div class="span4">
                    <img src="{{__dir__}}/assets/images/introduction-beautiful.jpg">
                    <h2>Make it beautiful.</h2>
                    <p>There are designers and developers making various themes for you. Especially if your are a web developer, making a theme is super easy with a template engine like mustache, handlbars and jade.</p>
                </div>
                <div class="span4">
                    <img src="{{__dir__}}/assets/images/introduction-writing.gif">
                    <h2>Writing is easy.</h2>
                    <p>Wordpress is great, but writing in a web editor or any other rich text editor made us really suffering. Now here comes markdown! It's the new way to write. Focus on the content, let Wanna do the rest for you.</p>
                </div>
            </div>
        </div>

        <!--
        <div class="container examples">
            Built with Wanna
        </div>
        -->

        {{> foot}}
    </body>
</html>

