<!DOCTYPE html>
<html>
    {{> head }}
    <body>
        {{ > navigation }}
        <div class="masthead">
            <div class="container">
                <h1>Wanna</h1>
                <p>{{global.subtitle}}</p>
                <ul class="masthead-links">
                    <li><a href="http://github.com/shaoshuai0102/wanna" target="_blank">GitHub project</a></li>
                    <li>Version 0.9.0</li>
                </ul>
            </div>
        </div>

        <div class="container introduction">
            Introducint Wanna
        </div>

        <div class="container examples">
            Built with Wanna
        </div>

        {{> foot}}
    </body>
</html>

