<section>
    Categories
    <ul>
        {{#global.categories}}
            <li>
                <a href="{{__dir__}}/categories/{{name}}.html" name="category: {{name}}">{{name}}</a>
            </li>
        {{/global.categories}}
    </ul>
</section>
