<footer id="footer">
    <p>
        Copyright © {{(new Date()).getFullYear()}} - {{global.author}} -
        <span class="credit">Powered by <a href="https://github.com/shaoshuai0102/wanna">wanna</a></span>
    </p>
</footer>
