<!DOCTYPE html>
<html>
<head>
    <title>{{#title}}{{title}} - {{/title}}{{global.title}}</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="{{global.keywords}}" />
    <meta name="description" content="{{global.description}}" />
    <link rel="shortcut icon" href="{{__dir__}}/assets/images/favicon.ico" type="image/x-icon" />
    <link href="{{__dir__}}/assets/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="header">
        <h1 class="title"><a href="{{__dir__}}/index.html">{{global.title}}</a></h1>
        <span class="subtitle">{{global.subtitle}}</span>
    </header>
