<nav>
    <ul>
        <li><a href="{{__dir__}}/index.html" name="home">Home</a></li>
        <li><a href="{{__dir__}}/archives.html" name="home">Archives</a></li>
        <li><a href="{{__dir__}}/categories/index.html" name="home">Categories</a></li>
        <li><a href="{{__dir__}}/pages/about.html" name="home">About</a></li>
    </ul>
</nav>
