{{> header}}
<section id="container">
    <section id="content">
        <h1>Archives</h1>
        <ul>
            {{#global.posts}}
                <li>
                    {{date}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="posts/{{filename}}" title="{{title}}">{{title}}</a>
                </li>
            {{/global.posts}}
        </ul>
    </section>
    {{> footer}}
</section>
{{> sidebar}}
{{> foot}}
